.postWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
    border-radius: 8px;
    background-color: var(--gray-400);
    margin-bottom: 12px;
}

.postWrapper img {
    cursor: pointer;
}

.postWrapper input[type='checkbox'] {
    cursor: pointer;
    margin-top: 2px;

    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    
}

.postWrapper input[type='checkbox']:checked {
    background: var(--purple-dark);
}

.postTextWrapper {
    width: 100%;
    padding: 0 12px;
}

.postText {
    color: var(--gray-100);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.225rem;
}

.postSelectedText {
    color: var(--gray-300);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.225rem;
    text-decoration: line-through;
}



