
.formWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.todoForm {
    display: flex;
}

.todoForm img[itemType='logo'] {
    margin-left: 8px;
}

.todoForm input {
    padding: 16px;
    border-radius: 8px;
    width: 638px;
    background: var(--gray-500);
    border: transparent;
    color: var(--white);
}

.todoForm input:focus {
    border: 1px var(--purple) solid;
}

.todoForm button {
    background: var(--blue-dark);
    color: var(--white); 
    font-size: 0.875rem;
    font-family: 'Inter';
    font-weight: 400;
    padding: 16px;
    border-radius: 8px;
    border: transparent;
    margin-left: 8px;

    display: flex;
    flex-direction: row;

    align-items: center;
}

.todoForm button:hover {
    cursor: pointer;
}